max_epochs: 5
accelerator: "auto"
devices: "auto"
precision: 32
accumulate_grad_batches: 1
fast_dev_run: false
limit_train_batches: 1.0
limit_val_batches: 1.0
num_sanity_val_steps: 2
log_every_n_steps: 50
