backend: "onnx"

model_name: "${model.model_name}"
model_version: 1
model_repo_dir: "${paths.triton_repo_dir}/${server.backend}"

url: "127.0.0.1:8000"

input_wav: null
output_dir: "${paths.predictions_dir}/triton"
